<a href="https://colab.research.google.com/github/YushirohMurasakih/Numerical-Merhods-58012/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Bool

In [ ]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [ ]:
a = 10
b = 9

print(a>b)
print(a<b)
print(a==b)

True
False
False

##Bool () Function

In [ ]:
print(bool(1))
print(bool(0))
print(bool("Matthew"))
print(bool(None))
print(bool([]))

True
False
True
False
False

##Functions to Return a Boolean

In [1]:
def my_Function():
  return False

print(my_Function())

if my_Function():
  print("Yes!")
else:
  print("No!")

False
No!

##Application 1

In [ ]:
print(10>9)

a = 6
b = 7
print(a==b)
print(a!=a)

True
False
False

##Python Operators

In [ ]:
print(2+5)
print(2-5)
print(2*5)
print(5/2)
print(5//2)
print(5**2)

7
-3
10
2.5
2
25

##Bitwise Operators

In [ ]:
a=60
b=13

print(a&b)
print(a|b)
print(a^b)

12
61
49

##Assignment Operators

In [ ]:
a += 3 #Same as a = a + 3
print(a)

63

##Logical Operators

In [ ]:
x = True
y = False

print(x and y)
print(x or y)
print (not(x and y))

False
True
True

##Indentity Operator

In [ ]:
print(x is y)
print(x is x)

print(x is not y)

False
True
True